<fa-app ng-controller='MafCtrl' layout="column" id="app">

	<fa-header-footer-layout>

		<fa-modifier fa-size="[undefined, 100]">
			<fa-image-surface 
             fa-image-url="http://docs.meteor.com/logo.png"
             fa-color="'blue'"
             fa-background-color="'#cccccc'"
             >
			 </fa-image-surface>
		</fa-modifier>
		
		<fa-grid-layout fa-options="myGridLayoutOptions">
			  <fa-modifier ng-repeat="item in list"
			               fa-size="[150, 50]"
			               fa-origin="[0.5, 0.5]"
			               fa-align="[0.5, 0.5]"
			               fa-rotate-z="item.rotate.get()">
				<fa-draggable>
				  <fa-surface 
					  fa-click="flipIt()"
					  ng-click="myClickHandler($event)" 
					  fa-background-color="item.bgColor">
				  	<div style="text-align:center;">
				  		<h3>{{item.content}}</h3>
					</div>
					  </fa-surface>
		   	   </fa-draggable>
			  </fa-modifier>
		  </fa-grid-layout>

		<fa-modifier fa-size="[undefined, 100]">
			<fa-image-surface 
             fa-image-url="http://famo.us/integrations/angular/img/famous-angular-logos.png"

             fa-color="'blue'"
             fa-background-color="'#ffffff'"
             >
			 </fa-image-surface>
		</fa-modifier>

	</fa-header-footer-layout>
</fa-app> 
